<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    {#    <link rel="stylesheet" href="{% static 'index.css' %}" media="screen" title="no title" charset="utf-8">#}
</head>
<body>
<a href="{% url 'index' %}">首页</a>
{% for cate in cates %}
    {{ cate.name }}
{% endfor %}
{% if request.user.is_authenticated %}
    <a href="{% url "logout" %}">
        退出
    </a>
{% else %}
    <a href="{% url 'login' %}">
        登录</a>
    <a href="{% url 'register' %}">
        注册</a>
{% endif %}
<a href="#">今日热闻</a>
<a href="detail/{{ todaynew_big.id }}">
    <p>{{ todaynew_big.title }}
    </p>
</a>
{% for todaynew in todaynew_top3 %}
    <a href="detail/{{ todaynew.id }}">
        <p>{{ todaynew.title }}
        </p>
    </a>
    <span>{{ todaynew.publish_time | date:"Y-m-d" }}</span>
{% endfor %}
{% for hot_recommend in hot_recommendlist %}
    <a href="detail/{{ hot_recommend.id }}">
        <p>{{ hot_recommend.title }}</p>
    </a>
{% endfor %}
{% for article in article_list %}
    <a href="detail/{{ article.id }}">
        <h3>
            <b>{{ article.title }}</b>
        </h3>
    </a>
    <span>{{ article.publish_time | date:"Y-m-d" }}</span>
{% endfor %}
{% if article_list.has_previous %}
    <a href="?page={{ article_list.previous_page_number }}" class="item"></a>
{% else %}
    <a href="?page={{ article_list.start_index }}" class="disabled item"></a>
{% endif %}
{% for pagenumber in article_list.paginator.page_range %}
    {% ifequal pagenumber article_list.number %}
        <a href="?page={{ pagenumber }}" class="active item"
           style="background-color: red; color:white">{{ pagenumber }}</a>
    {% else %}
        <a href="?page={{ pagenumber }}" class="item">{{ pagenumber }}</a>
    {% endifequal %}
{% endfor %}
{% if article_list.has_next %}
    <a href="?page={{ article_list.next_page_number }}" class="item">
    </a>
{% else %}
    <a href="?page={{ article_list.paginator.num_pages }}" class="disabled item">
    </a>
{% endif %}
<h4>
    <b>推荐阅读</b>
</h4>
{% for read_recommendtop3 in read_recommendtop3list %}
    <a href="detail/{{ read_recommendtop3.id }}">
        {{ read_recommendtop3.title }}
    </a>
{% endfor %}
{% for read_recommend in read_recommendlist %}
    <p>
        <a href="detail/{{ read_recommend.id }}">
            {{ read_recommend.title }}
        </a>
    </p>
    <span>{{ read_recommend.publish_time | date:"Y-m-d" }}</span>
{% endfor %}
</body>
</html>